body {  overflow: visible; }
.navbar-column { width: 250px;}
.row-divs {  padding-right: 30px; }
.ResultContainer{
    width: 100%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}
.Right { width: 35%; float: left;}
.Left { 
    padding-top: 110px;
    margin-left: 80px;
    width: 35%; 
    float: left;
}

h5 {margin-left: -20px; margin-bottom: 60px;}
.Profile { margin-bottom: 20px;}
.studentPicture img {
    height: 110px; width: 90px;
    border-radius: 10px;
    margin: -20px 0px 0px -15px;
    position: absolute;

}
.studentprofile {
    color: rgb(71, 71, 71);
    width: 100%;
    border-radius: 10px;
    padding: 0px 0px 0px 80px;
    margin-bottom: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #fBf8f1;
}
h6 { margin: 10px 5px ;}
p { 
    margin: 5px;
    font-size: 10px;
    padding: 0px;
}
.Number { 
    width: 100%; height: 1px;
    margin: 0px; padding: 0px;
}
.Number p { 
    font-size: 10px;
    width: 40px; 
    border-radius: 0px 10px 0px 10px;
    margin: 0px; padding: 10px;
    background-color: #2D3642;
    color: white;
    float: right;
}
.Average-container{
    height: 15px;
    margin: auto;
    background-color:rgb(255, 226, 220);
    width: 95%; border-radius: 15px; 

}
.Average {
    width: 54%; height: 15px;
    background-color: #fe6036;
    border-radius: 15px;
}
.Marks-p-div { 
    height: 20px; width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.first-p , .secound-p{ 
    display: inline;
    margin: 0px; padding: 0px;
}
.first-p { float: left; }
.secound-p { float: right; }


@media screen and  (max-width: 980px){
    .navbar-column { width: 270px;}
    h5 {margin-bottom: 50px;}
    .Right { 
        width: 100%; 
        }
    .Left { 
        width: 100%; 
        margin: 0px ;
        padding: 0px;
    }
}


@media screen and  (max-width: 541px){
    .ResultContainer { padding: 15px;}
    .Profile { 
        width: 100%; 
        margin-top: 20px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction:column;
        flex-direction: column;        
    }
    h5 { margin: 20px 0px;}
    .studentPicture { margin: auto;}
    .studentPicture img {
        margin: 0px;
        margin-bottom: -20px;
        position: relative;
    }
    .studentprofile {
        margin-bottom: 0px;
        padding: 0px;
    }
    h6 { margin: 40px 5px 5px;}
    .first-p , .secound-p{
        margin-top: 5px;
    }
    
}
